@using EStable.ViewModels.UserOfStableViewModels.Wizard.StepThree
@model ChargeTypesViewModel

@{
    ViewBag.Title = "Setup Wizard";
    ViewBag.Email = Model.Email;
    Layout = "~/Views/Wizard/_Layout.cshtml";
    var stableTypeCharges = Model.StableChargeTypes;
}
@*Styles*@
<link href="~/Content/dist/css/vendor/jquery.dynatable.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/Wizard/StepThree.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/Wizard/WizardBase.min.css" rel="stylesheet" />

<div id="wizardStepCounter" class="wizard-step-counter">
    <img id="wizardStepImage" src="../../Content/Images/WizardSteps.png" />
</div>

<div class="wizard">
    <div id="stepTwo" class="">
        <div class="stable-name">
            @Model.StableName
        </div>
        @using (Html.BeginForm("PostStepThree", "Wizard"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="wizard-step-3">
                <h3>Step Three - Charge Types</h3>
                
                <div class="panel panel-default">
                    <div class="panel-heading tbl-heading">Stable Charge Types</div>
                    <div class="panel-body">
                
                        <div class="tbl-container">
                            <table class="table table-striped table-hover" id="tblStableCharges">
                                <thead class="dynatable-head">
                                    <th class="dynatable-head">Unit</th>
                                    <th class="dynatable-head">InStable</th>
                                    <th class="dynatable-head">Description</th>
                                    <th class="dynatable-head">Rate</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>    
                    
                        </div>
                        
                        <script type="text/html" id="stableChargeData">@Model.GetStableChargeTypesJson()</script>
                       
                        
                        @Html.Partial("Partials/_AddStableChargeForm", new StableChargeTypeViewModel())
                        
                        

                        <div>
                            <a href="#" class="btn btn-sm btn-info" id="addStableCharge">Add a Stable Charge</a>
                        </div>
                        
                       @* <a href="#" id="importStableCharges" class="btn btn-sm btn-info">Import Stable Charges</a> <input type="file" id="import"/>*@
                    </div>
                </div>
                @*--------------------------------------------------------------------------------------------------------------------------------------------*@
               
                <div class="panel panel-default">
                    <div class="panel-heading tbl-heading">Standard Charge Types</div>
                    <div class="panel-body">
                        <div class="tbl-container">
                            <table class="table table-striped table-hover" id="tblStandardCharges">
                                <thead>
                                    <th class="dynatable-head">Description</th>
                                    <th class="dynatable-head">Rate</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>    
                    
                        </div>
                        <script type="text/html" id="standardChargeData">@Model.GetStandardChargeTypesJson()</script>
                        @Html.Partial("Partials/_AddStandardChargeForm", new StandardChargeTypeViewModel())
                        
                        <a href="#" class="btn btn-sm btn-info" id="addStandardCharge">Add a Standard Charge</a>
                
                    </div>
                </div>

                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="buttons clear-both">
                    <div class="wizard-back-wrapper float-left">
                        <input class="btn btn-lg btn-default wizard-buttons" name="submit" id="back" type="submit" value="Back"/>
                    </div>

                    <div class="wizard-next-wrapper float-right">
                        <input class="btn btn-lg btn-primary wizard-buttons" name="submit" id="next" type="submit" value="Next"/>
                    </div>
                </div>
            </div>
        }
        <div class="file-upload-wrapper">
            @using (Html.BeginForm("ImportStableCharges", "Wizard", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="stable-charge-upload-wrapper">
                    <div id="upload-file-container" class="button btn btn-sm btn btn-info pointer">
                        <input type="file" id="stableChargeUpload" class="upload" name="file" value="test">
                    </div>
                    <input type="submit" class="button btn btn-sm btn-primary" name="Submit" id="Submit" value="Import Stable Charges"/>
                </div>
            }
        </div>

        <div class="file-upload-wrapper">
            @using (Html.BeginForm("ImportStandardCharges", "Wizard", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="standard-charge-upload-wrapper">
                    <div id="upload-file-container" class="button btn btn-sm btn btn-info pointer">
                    <input type="file" id="standardChargeUpload" class="upload" name="file" value="test">
                </div>
                <input type="submit" class="button btn btn-sm btn-primary" name="Submit" id="Submit" value="Import Standard Charges"/>
                </div>
            }
        </div>
        
        
    </div>
</div>

