@using EStable.ViewModels.UserOfStableViewModels.Wizard.StepThree
@model ChargeTypesViewModel

@{
    ViewBag.Title = "Setup Wizard";
    ViewBag.Email = Model.Email;
    Layout = "~/Views/Wizard/_Layout.cshtml";
    var stableTypeCharges = Model.StableChargeTypes;
}
@*Styles*@
<link href="~/Content/dist/css/vendor/jquery.dynatable.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/Wizard/StepThree.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/Wizard/WizardBase.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/vendor/bootstrap-editable.min.css" rel="stylesheet" />

<link href="~/Content/dist/css/slick.mods.min.css" rel="stylesheet" />
<link href="~/Content/src/SlickGrid-master/slick.grid.css" rel="stylesheet" />
<link href="~/Content/src/SlickGrid-master/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

<script src="~/Content/src/SlickGrid-master/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script src="~/Content/src/SlickGrid-master/lib/jquery.event.drop-2.2.js"></script>
<script src="~/Content/src/SlickGrid-master/lib/jquery.event.drag-2.2.js"></script>
<script src="~/Content/src/SlickGrid-master/slick.core.js"></script>
<script src="~/Content/src/SlickGrid-master/slick.grid.js"></script>
<script src="~/Content/src/SlickGrid-master/slick.editors.js"></script>

<div id="wizardStepCounter" class="wizard-step-counter">
    <img id="wizardStepImage" src="../../Content/Images/WizardSteps.png" />
</div>

<div class="wizard">
    <div id="stepTwo" class="">
        <div class="stable-name">
            @Model.StableName
        </div>
        @using (Html.BeginForm("PostStepThree", "Wizard"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="wizard-step-3">
                <h3>Step Three - Charge Types</h3>
                
                <div class="panel panel-default">
                    <div class="panel-heading tbl-heading">Stable Charge Types</div>
                    <div class="panel-body">
                        <script type="text/html" id="stableChargeObject">@Html.Raw(Json.Encode(Model.StableChargeTypes))</script>

                        <div class="slick-example" id="slick-example"></div>
                        
                        <div>
                            <a href="#" class="btn btn-sm btn-info" id="saveStableCharges">Save Stable Charges</a>
                        </div>
                        
                        @* <a href="#" id="importStableCharges" class="btn btn-sm btn-info">Import Stable Charges</a> <input type="file" id="import"/>*@
                    </div>
                </div>
                @*--------------------------------------------------------------------------------------------------------------------------------------------*@
               
                <div class="panel panel-default">
                    <div class="panel-heading tbl-heading">Standard Charge Types</div>
                    <div class="panel-body">
                        
                        <script type="text/html" id="standardChargeData">@Model.GetStandardChargeTypesJson()</script>
                       
                        <a href="#" class="btn btn-sm btn-info" id="addStandardCharge">Add a Standard Charge</a>
                    </div>
                </div>

                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="buttons clear-both">
                    <div class="wizard-back-wrapper float-left">
                        <input class="btn btn-lg btn-default wizard-buttons" name="submit" id="back" type="submit" value="Back"/>
                    </div>

                    <div class="wizard-next-wrapper float-right">
                        <input class="btn btn-lg btn-primary wizard-buttons" name="submit" id="next" type="submit" value="Next"/>
                    </div>
                </div>
            </div>
        }
        <div class="file-upload-wrapper">
            @using (Html.BeginForm("ImportStableCharges", "Wizard", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="stable-charge-upload-wrapper">
                    <div id="upload-file-container" class="button btn btn-sm btn btn-info pointer">
                        <input type="file" id="stableChargeUpload" class="upload" name="file" value="test">
                    </div>
                    <input type="submit" class="button btn btn-sm btn-primary" name="Submit" id="Submit" value="Import Stable Charges"/>
                </div>
            }
        </div>

        <div class="file-upload-wrapper">
            @using (Html.BeginForm("ImportStandardCharges", "Wizard", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="standard-charge-upload-wrapper">
                    <div id="upload-file-container" class="button btn btn-sm btn btn-info pointer">
                    <input type="file" id="standardChargeUpload" class="upload" name="file" value="test">
                </div>
                <input type="submit" class="button btn btn-sm btn-primary" name="Submit" id="Submit" value="Import Standard Charges"/>
                </div>
            }
        </div>
        
        
    </div>
</div>

