@model EStable.ViewModels.UserOfStableViewModels.Wizard.Step_Six.WizardSummaryViewModel

@{
    ViewBag.Title = "Summary - Step Six";
    ViewBag.Email = Model.Email;
    Layout = "~/Views/Wizard/_Layout.cshtml";
    var stableData = Model.StableSummaryViewModel;
}

@*Styles*@
<link href="~/Content/Styles/jquery.dynatable.css" rel="stylesheet" />
<link href="~/Content/Styles/Wizard/StepSix.css" rel="stylesheet" />
<link href="~/Content/Styles/Wizard/WizardBase.css" rel="stylesheet" />

@*Javascript Libraries*@
<script src="~/Content/Javascript/Common/jquery-1.7.2.min.js"></script>
<script src="~/Content/Javascript/Common/jquery.dynatable.js"></script>
<script src="~/Content/Javascript/Common/EstableBase.js"></script>

@*Javascript Logic*@
<script src="~/Content/Javascript/Areas/Wizard/StableCharges/StableCharges.js"></script>
<script src="~/Content/Javascript/Areas/Wizard/StableCharges/StandardCharges.js"></script>
<script src="~/Content/Javascript/Areas/Wizard/AnimalDetails/AnimalDetails.js"></script>

<div id="wizardStepCounter" class="wizard-step-counter">
    <img id="wizardStepImage" src="../../Content/Images/WizardSteps.png" />
</div>

<div class="wizard">
    <div id="stepsix" class="">
        @using (Html.BeginForm("PostStepSix","Wizard"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <div class="wizard-step-6">
                <h3>Step Six - Summary</h3>
                <div class="stable-name-container">
                    <span class="stable-name-title">@stableData.StableName</span>
                    <span>(@stableData.StableType Stable Summary)</span>
                </div>
                <div class="spacer"></div>

                <div class="contact-data panel panel-default">
                    <div class="panel-heading">
                        Contact Information
                    </div>
                    <div class="panel-body">
                        <p>@stableData.TrainerName</p>
                        <p>@stableData.StableLegalName</p>
                        <p>@stableData.Address</p>
                        <br/>
                        <p>Ph: @stableData.PhoneNumber</p>
                        <p>Fax: @stableData.FaxNumber</p>
                        <p>Mbl: @stableData.MobileNumber</p>
                    </div>
                </div>
                
                <div class="financial-data panel panel-default">
                    <div class="panel-heading">
                        Financial Information
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    GST Nbr:
                                </td>
                                <td>
                                    @stableData.GSTNumber
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GST Rate:
                                </td>
                                <td>
                                    @stableData.GSTRate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Effective:
                                </td>
                                <td>
                                    @stableData.Effective
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Previous Rate:
                                </td>
                                <td>
                                    @stableData.PreviousRate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Next Invoice Nbr:
                                </td>
                                <td>
                                    @stableData.NextInvoiceNumber
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="stable-charge-types panel panel-default">
                    <div class="panel-heading">Stable Charge Types</div>
                    <div class="panel-body">
                        <div class="tbl-container">
                            <table class="table table-striped table-hover" id="tblStableCharges">
                                <thead class="dynatable-head">
                                    <th class="dynatable-head">Unit</th>
                                    <th class="dynatable-head">InStable</th>
                                    <th class="dynatable-head">Description</th>
                                    <th class="dynatable-head">Rate</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <script type="text/javascript">
                            createStableChargesTable('@Model.ChargeTypesViewModel.GetStableChargeTypesJson()');
                        </script>
                    </div>
                </div>
                @*--------------------------------------------------------------------------------------------------------------------------------------------*@
               
                <div class="standard-charge-types panel panel-default">
                    <div class="panel-heading tbl-heading">Standard Charge Types</div>
                    <div class="panel-body">
                        <div class="tbl-container">
                            <table class="table table-striped table-hover" id="tblStandardCharges">
                                <thead>
                                    <th class="dynatable-head">Description</th>
                                    <th class="dynatable-head">Rate</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>    
                    
                        </div>
                        <script type="text/javascript">
                            createStandardChargesTable('@Model.ChargeTypesViewModel.GetStandardChargeTypesJson()');
                        </script>
                    </div>
                </div>
                
                <div class="animal-details panel panel-default">
                    <div class="panel-heading tbl-heading">Animal Details</div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover" id="tblAnimal">
                            <thead>
                                <tr>
                                    <th class="dynatable-head">Racing Name</th>
                                    <th class="dynatable-head">Stable Name</th>
                                    <th class="dynatable-head">Sire</th>
                                    <th class="dynatable-head">Dam</th>
                                </tr>
                            </thead> 
                            <tbody>
                            </tbody>
                        </table>
                
                        <script type="text/javascript">
                            createAnimalTable('@Model.AnimalDetailsViewModel.GetAnimalJson()');
                        </script>
                    </div>
                </div>
                
                <div class="owner-data panel panel-default">
                    <div class="panel-heading">
                        Owners
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var owner in Model.OwnersViewModel)
                            {
                                <li class="list-group-item">@owner</li>
                            }
                        </ul>
                    </div>
                </div>

                <input type="hidden" name="email" id="email" value="@Model.Email"/>
                <div class="buttons clear-both">
                    <div class="wizard-back-wrapper float-left">
                        <input class="btn btn-lg btn-default wizard-buttons" name="submit" id="back" type="submit" value="Back"/>
                    </div>

                    <div class="wizard-next-wrapper float-right">
                        <input class="btn btn-lg btn-primary wizard-buttons" name="submit" id="next" type="submit" value="Provision Stable"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
